@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@200&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
}

.mainSection {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1.4rem 0;
    border-radius: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

input {
    border: transparent;
    background-color: #EAEAEA;
    border-radius: 4px;
    padding: 4px 12px;
}

label {
    font-weight: 600;
}


button {
    background-color: #24a0ed;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    padding: 6px 12px;
    border: transparent;
    border-radius: 12px;
    margin-top: 7px;
}

.extraFeatures {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #808080;
    font-size: 0.8em;
}